body {
    font-family: Arial, sans-serif;
    background-color: #b5c5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #4761ad;
}

p {
    color: #2d3e70;
}

textarea {
    width: calc(100% - 22px);
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    background-color: #4761ad;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#generateBackground {
    background-color: #4761ad;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2d3e70;
}

#generateBackground:hover {
    background-color: #2d3e70;
}

#counts {
    margin-top: 20px;
}